*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tableFixHead          { overflow: auto; height: 450px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#5ebc67; }

.social-icons{
    position: absolute;
    right: 4%;
    bottom: 0%

}
.social-icons img{
    width: 30px;
    margin: 25px 5px;
}
.btn{
    color: #ffffff;
    background-color: #34a290;
    font-size: 10px;
    border: 0px solid #2d63c8;
    border-radius: 100px;
    padding: 15px 15px;
    letter-spacing: 3px;
    cursor: pointer
}
btn:hover {
    color: #ffffff;
    background-color: #3a9283;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("#") ;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85% ;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.welcomemessage{
color: white;
    font-size: 30px;
}
.navbar a{
    text-align: left;
}
.navbar ul{
    justify-content: right;
}
.navbar .nav{
    text-align: center;
}
.navbar .welcomemessage{
    text-align: right;
}
.navbar .logo{
    text-align: left;
}