<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin oldal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/new_home.css">
</head>
<header>
    <nav id="navbar">
        <div class="menu">
            <div>
                <img src="sales2.png" class="logo" alt="">
                <ul>
                    <li><a href="/home">Vásárlói felület</a> </li>
                </ul>
                <ul class="inputBox">
                    <li><span id="toggleNews">    </span><a href="/admin/upload">Termékfeltöltés</a></li>
                    <li><span id="toggleMarket">    </span><a href="/admin/income">Bevétel</a></li>
                    <li><span id="toggleAbout">    </span><a href="/admin/users">Felhasználók</a></li>
                    <li><span id="toggleProjects">    </span><a href="/admin/completedOrders">Teljesített megrendelések</a></li>
                    <li><span id="togglePastPro">    </span><a href="/admin/pastproducts">Előző évi adatok</a></li>
                    <li><span id="toggleDoor">    </span><a href="/logout">Kijelentkezés</a></li>
                    <li><h5>Kövess minket!</h5></li>
                    <ul class="social-media">
                        <li><a href="https://facebook.com/"><img data-th-src="@{/facebook.png}"></a></li>
                        <li><a href="https://www.instagram.com/"><img data-th-src="@{/instagram.png}"></a></li>
                        <li><a href="https://www.linkedin.com/"><img data-th-src="@{/linkedin.png}"></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="container">
            <a href="/admin" class="brand"><p>
                ADMIN
            </p></a>
            <div class="container-inner">
                <ul>
                    <li><a href="/admin">Megrendelések</a></li>
                </ul>
                <form th:action="@{/admin}">
                    <input  class="input-wrap-search" type="text" placeholder="rendelés szám" name="keyword" th:value="${keyword}" />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
    </nav>
</header>
<body>
<div class="container-back">
    <div class="tableFixHead">
        <table>
            <tr>
                <th>Rendelés szám</th>
                <th>Megrendelő</th>
                <th>Teljesítve</th>
                <th>Termékek</th>
                <th>Mennyiség</th>
                <th>Végösszeg</th>
            </tr>
            <tr data-th-each="order: ${orders}">
                <td data-th-text="${order.id}"></td>
                <td data-th-text="${order.customer.companyName}"></td>
                <td>
                    <form method="post" data-th-action="@{/admin/completed}">
                        <input type="hidden" name="id" data-th-value="${order.id}">
                        <input type="checkbox" name="isCompleted" th:checked="${order.isCompleted}" onchange="this.form.submit()"
                        /></form>
                </td>
                <!--<td><form method="post" data-th-action="@{/admin/completed}">
                    <input class="input-wrap-discount" type="hidden" data-th-field="{order.id}">
                    <input type="checkbox" name="isCompleted" th:checked="${order.isCompleted}" /></form></td>
                </td>-->
                <!--<td data-th-text="${order.orderDescription}"></td>-->
                <td>
                    <table>
                        <tr data-th-each="order: ${order.cartItems}">
                            <td data-th-text="${order.productName}"></td>
                    </table>
                </td>
                <td>
                    <table>
                        <tr data-th-each="order: ${order.cartItems}">
                            <td data-th-text="${order.quantity} +' '+db"></td>
                    </table>
                </td>
                            <td data-th-text="${order.amount}+' '+Ft"></td>
            </tr>
        </table>
    </div>
</div>
    <script>
        const navLinks = document.querySelectorAll('.inputBox li');
        const menBtn = document.getElementById('menu-btn');
        const navBar = document.getElementById('navbar');
        const menu = document.querySelector('.menu');

        const offset = 30;
        menBtn.addEventListener('click',() => {
            menu.classList.toggle('menu-open');
            navLinks.forEach((link,index) => {
                if (link.style.animation) {
                    link.style.animation = ''
                } else {
                    link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.7}s`
                }
            });

        });
        window.addEventListener("scroll",() => {
            if (pageYOffset > offset) {
                navBar.classList.add('navbar-active');
            } else {
                navBar.classList.remove('navbar-active')
            }
        });
        window.addEventListener("scroll", ()=> {
            if (pageXOffset > offset) {
                navBar.classList.add('navbar-active');
            } else {
                navBar.classList.remove('navbar-active');
            }
        });
    </script>
</body>
</html>