<!DOCTYPE html>
<html lang="en" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin oldal</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/new_home.css">
</head>
<header>
    <nav id="navbar">
        <div class="menu">
            <div>
                <img src="/sales2.png" class="logo" alt="">
                <ul>
                    <li><a href="/home">Vásárlói felület</a></li>
                </ul>
                <ul class="inputBox">
                    <li><span id="toggleNews">    </span><a href="/admin/upload">Termékfeltöltés</a></li>
                    <li><span id="toggleMarket">    </span><a href="/admin/income">Bevétel</a></li>
                    <li><span id="toggleAbout">    </span><a href="/admin/users">Felhasználók</a></li>
                    <li><span id="toggleProjects">    </span><a href="/admin/completedOrders">Teljesített megrendelések</a></li>
                    <li><span id="toggleCart">    </span><a href="/admin/pastproducts">Előző évi adatok</a></li>
                    <li><span id="toggleDoor">    </span><a href="/logout">Kijelentkezés</a></li>
                    <li><h5>Kövess minket!</h5></li>
                    <ul class="social-media">
                        <li><a href="https://facebook.com/"><img data-th-src="@{/facebook.png}"></a></li>
                        <li><a href="https://www.instagram.com/"><img data-th-src="@{/instagram.png}"></a></li>
                        <li><a href="https://www.linkedin.com/"><img data-th-src="@{/linkedin.png}"></a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <div class="container">
            <a href="/admin" class="brand"><p>
                ADMIN
            </p></a>
            <div class="container-inner">
                <ul>
                    <li><a href="/admin">Megrendelések</a></li>
                </ul>
            </div>
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
    </nav>
</header>
<body>
<div class="container-income">
    <div class="container-income_inside">

        <h1>Bevétel:</h1>
        <br/>
        <div class="col-sm-4">

            <form class="form-income" action="#" data-th-action="@{/search}" method="post">
                <div alight="left">
                    <tr>
                        <td>
                            <input class="input-wrap-income" type="number" name="year" placeholder="Év"/>
                        </td>
                    </tr>
                </div>

                <br>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="button2">Keresés</button>
                    </td>
                </tr>


                <div alight="left">
                    <tr>
                        <td>
                            <p type="text" data-th-text="${income}"></p>
                        </td>
                    </tr>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const navLinks = document.querySelectorAll('.inputBox li');
    const menBtn = document.getElementById('menu-btn');
    const navBar = document.getElementById('navbar');
    const menu = document.querySelector('.menu');

    const offset = 30;
    menBtn.addEventListener('click',() => {
        menu.classList.toggle('menu-open');
        navLinks.forEach((link,index) => {
            if (link.style.animation) {
                link.style.animation = ''
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.7}s`
            }
        });

    });
    window.addEventListener("scroll",() => {
        if (pageYOffset > offset) {
            navBar.classList.add('navbar-active');
        } else {
            navBar.classList.remove('navbar-active')
        }
    });
    window.addEventListener("scroll", ()=> {
        if (pageXOffset > offset) {
            navBar.classList.add('navbar-active');
        } else {
            navBar.classList.remove('navbar-active');
        }
    });
</script>
</body>
</html>