<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
<div class="newpassword">
    <h4>Change password</h4>
<form data-th-action="@{/changepassword}" data-th-object="${form}" method="post">
    <table>
        <tr>
            <td class="alert-danger" th:if="${param.error}">
                Hibás e-mail vagy jelszó.
            </td>
        </tr>
        <tr>
            <th>Current password:</th>
            <td><input data-th-field="*{currentpassword}"></td>
        </tr>
        <tr>
            <th>New password:</th>
            <td><input data-th-field="*{newpassword1}"></td>
        </tr>
        <tr>
            <th>New password:</th>
            <td><input data-th-field="*{newpassword2}"></td>
        </tr>
        <tr>
           <td> <button type="submit">Confirm</button> </td>
        </tr>
    </table>
</form>
</div>
</body>
</html>