<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Change your password</h2>
<form data-th-action="@{/changepassword}" data-th-object="${form}" method="post">
    <table>
        <tr>
            <th>Current password:</th>
            <td data-th-field="*{currentpassword}"></td>
        </tr>
        <tr>
            <th>New Password:</th>
            <td data-th-field="*{newpassword1}"></td>
        </tr>
        <tr>
            <th>New Password:</th>
            <td data-th-field="*{newpassword2}"></td>
        </tr>
    </table>
</form>
</body>
</html>