<!DOCTYPE html>
<html lang="en" xmlns:C="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Főoldal</title>
  <link rel="stylesheet" href="/homestyle.css">
</head>
<body>
<div class="banner">
  <div class="navbar">
    <img data-th-src="@{sales2.png}" class="logo">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a data-th-href="@{/userprofile}">Account</a></li>
    </ul>
  </div>
  <div class="welcomemessage">
    <form th:action="@{/logout}" method="post">
      <p>
        Welcome <b>[[${#request.userPrincipal.principal.companyName}]]</b>
      </p>

    </form>
  </div>
  <footer>
    <input type="submit" class="btn" value="Sign Out">
  </footer>
</div>

</body>
</html>