<!DOCTYPE html>
<html lang="en" xmlns:C="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <style></style>
  <title>Főoldal</title>
  <link rel="stylesheet" href="/homestyle.css">
</head>
<body>
<div class="banner">
  <div class="navbar">
        <div class="logo">
   <a href="/home"><img data-th-src="@{sales2.png}" class="logo"></a>
        </div>
        <div  class="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Home</a></li>
      <li><a data-th-href="@{/userprofile}">Account</a></li>
    </ul>
  </div>
    <div class="welcomemessage">

        <p>
          Welcome <b>[[${#request.userPrincipal.principal.companyName}]]</b>
        </p>
      </form>
          </div>
        <div class="tableFixHead">
         <table>
           <thead>
           <tr>
             <th>Cikkszám</th>
             <th>EAN kód</th>
             <th>Terméknév</th>
             <th>Készlet</th>
             <th>Ár</th>
             <th>Mennyiség</th>
           </tr>
           </thead>
           <tbody>
           <tr data-th-each="datas,itemStat:${products}">

               <td th:text="${datas.articleNumber}">Name:</td>

               <td th:text="${datas.EANCode}">Name:</td>

               <td th:text="${datas.articleName}">Name:</td>

               <td th:text="${datas.quantity}">Name:</td>

               <td th:text="${datas.price}">Name:</td>

               <td><form method="post" data-th-action="@{/home/{EANCode}(EANCode=${datas.EANCode})}"><input type="number" name="quantity"><button type="submit">Hozzáadás kosárhoz</button></form></td>
           </tr>
           </tbody>
         </table>
        </div>
         <footer>
             <div style = "position:absolute; left:80px; top:92% ">
                 <form th:action="@{/logout}" method="post">
           <input type="submit" class="btn" value="Sign Out">
             </div>
         </footer>
       </form>
     </div>
   <div class="social-icons">
     <h5>Kövess minket!</h5>
     <a href="https://facebook.com/"> <img data-th-src="@{facebook.png}"> </a>
     <a href="https://www.instagram.com/"> <img data-th-src="@{instagram.png}"> </a>
     <a href="https://www.linkedin.com/"> <img data-th-src="@{linkedin.png}"> </a>
   </div>


 </body>
 </html>