<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>

<body>

<div id="container">
    <div class="form">
        <form class="form" data-th-action="@{/login}" method="post">
            <h3>Belépés</h3>
            <div class="alert-danger" th:if="${param.error}">
                Hibás e-mail vagy jelszó.
            </div>
            <input type="text" data-th-name="email" placeholder="E-mail">
            <input type="password" data-th-name="password" placeholder="Jelszó">

            <button >Belépés</button>
        </form>
    </div>
</div>

</body>

</html>