<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/new_home.css">
</head>
<header>
    <nav id="navbar">
        <div class="menu">
            <div>
                <img src="sales2.png" class="logo" alt="">
                <ul>
                    <li><a data-th-if="${#request.userPrincipal.principal.email =='admin'}" href="/admin">Admin felület</a> </li>
                    <li><a data-th-unless="${#request.userPrincipal.principal.email =='admin'}" href="#">Újdonságok</a> </li>
                </ul>
                <ul class="inputBox">
                    <li><span id="toggleNews">    </span><a href="/orders">Rendeléseim</a></li>
                    <li><span id="toggleMarket">    </span><a href="/home">Bolt</a></li>
                    <li><span id="toggleCart">    </span><a href="/cart">Kosár</a></li>
                    <li><span id="toggleAbout">    </span><a href="/userprofile">Fiókom</a></li>
                    <li><span id="toggleProjects">    </span><a href="#">Üres</a></li>
                    <li><span id="toggleDoor">    </span><a href="/logout">Kijelentkezés</a></li>
                    <li><h5>Kövess minket!</h5></li>
                    <div>
                        <ul class="social-media">
                            <li ><a href="https://facebook.com/"><img data-th-src="@{facebook.png}"></a></li>
                            <li ><a href="https://www.instagram.com/"><img data-th-src="@{instagram.png}"></a></li>
                            <li ><a href="https://www.linkedin.com/"><img data-th-src="@{linkedin.png}"></a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <div class="container">
            <a href="/userprofile" class="brand"><p>
                <b>[[${#request.userPrincipal.principal.companyName}]]</b>
            </p></a>
            <div class="container-inner">
                <ul>
                    <li><a href="/home">Kezdőlap</a></li>
                    <li><a href="/connections">Kapcsolat</a></li>
                    <li><a href="/cart"><span id="homeCart"></span></a></li>
                </ul>
                <form th:action="@{/home}">
                    <input  class="input-wrap-search" type="text" placeholder="Keresés" name="keyword" th:value="${keyword}" />
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <div>
                    <i class="fas fa-bars" id="menu-btn"></i>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="container-back">
        <div class="tableFixHead">
            <table>
                <thead>
                <tr>
                    <th>Cikkszám</th>
                    <th>EAN kód</th>
                    <th>Terméknév</th>
                    <th>Ár</th>
                    <th>Mennyiség</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="datas:${products}">

                    <td th:text="${datas.articleNumber}">Name:</td>

                    <td th:text="${datas.EANCode}">Name:</td>

                    <td th:text="${datas.articleName}">Name:</td>

                    <td th:text="${datas.price}">Name:</td>
                    <!--TODO Lassú betöltés  -->
                    <td><form method="post" data-th-action="@{/home/{EANCode}(EANCode=${datas.EANCode})}">
                        <input class="input-wrap" type="number" name="quantity"><button class="button2" type="submit">Hozzáadás</button></form></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<script>
    let menuX = document.getElementById("menu-btn");
    menuX.onclick = function () {
        menuX.classList.toggle("openmenu")
    }
    const navLinks = document.querySelectorAll('.inputBox li');
    const menBtn = document.getElementById('menu-btn');
    const navBar = document.getElementById('navbar');
    const menu = document.querySelector('.menu');

    const offset = 30;
    menBtn.addEventListener('click',() => {
        menu.classList.toggle('menu-open');
        navLinks.forEach((link,index) => {
            if (link.style.animation) {
                link.style.animation = ''
            } else {
                link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.7}s`
            }
        });

    });
    window.addEventListener("scroll",() => {
        if (pageYOffset > offset) {
            navBar.classList.add('navbar-active');
        } else {
            navBar.classList.remove('navbar-active')
        }
    });
    window.addEventListener("scroll", ()=> {
        if (pageXOffset > offset) {
            navBar.classList.add('navbar-active');
        } else {
            navBar.classList.remove('navbar-active');
        }
    });
</script>
</body>
</html>