<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="registerstyle.css">
</head>
<body>
<div>
</div>
<div>
    <form data-th-action="@{/process-register}" method="post"
        data-th-object="${user}">
        <h3>Regisztráció</h3>
        <div>
            <div>
                <label>Cég név:</label>
                <div>
                    <input type="text" data-th-field="*{companyName}" required />
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>Jelszó:</label>
                <div>
                    <input type="password" data-th-field="*{password}" required/>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>Cím:</label>
                <div>
                    <input type="text" data-th-field="*{address}" required/>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>E-mail:</label>
                <div>
                    <input type="email" data-th-field="*{email}" required/>
                </div>
            </div>
        </div>
        <div>
            <div>
                <label>Adószám:</label>
                <div>
                    <input type="text" data-th-field="*{taxNumber}" required/>
                </div>
            </div>
        </div>
        <div>
            <button >Regisztráció</button>
            <span>Már regisztráltál?<a href="/"th:href="@{/login}">Jelentkezz be itt</a></span>
        </div>
    </form>
</div>

</body>
</html>