<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin oldal</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>
<body>
<div align="center">

  <h1>Search Employee</h1>
  <br />
  <div class="col-sm-4">

    <form action="#" data-th-action="@{/search}" data-th-object="${product}" method="post">
      <div alight="left">
        <tr>
          <label class="form-label" >Employee ID</label>
          <td>
            <input type="text" data-th-field="*{id}" class="form-control" placeholder="Employee ID" />
          </td>
        </tr>
      </div>

      <br>
      <tr>
        <td colspan="2"><button type="submit" class="btn btn-info">Search</button> </td>
      </tr>


      <div alight="left">
        <tr>
          <label class="form-label" >Employee Name</label>
          <td>
            <input type="text" data-th-field="${product.articleName}" class="form-control" placeholder="Employee Name" />
          </td>
        </tr>
      </div>
    </form>
  </div>
</body>
</html>