<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verify Succeeded</title>
    <link rel="stylesheet" href="/loginstyle.css">
</head>
<body>
<div id="container">
    <div class="form">
        <form class="form" data-th-action="@{/login}" method="post">
            <h3>Regisztráció sikeresen megerősítve</h3>
            <button class="button" onclick="location.href= '/login'" type="button">
                Belépés</button>
        </form>
    </div>
</div>
</body>
</html>